.pet-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.pet-name {
  font-weight: 900;
  letter-spacing: 0.05rem;
  color: var(--purple-500);
}
